:root {
  --bg-button: #e0c3fc;
  --border-button: solid 1px #d4acf8;
}

.button {
  font-size: 3.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
}

.button:active {
  background-color: #cfa8f3;
  transition: 0.5s;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #8ec5fc;
  color: #fff;
  transition: 0.5s;
}

.button.operation:active {
  background-color: #78b6f5;
  transition: 0.5s;
}
