.calculator {
  height: 520px;
  width: 410px;
  border-radius: 5px;
  overflow: hidden;
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 75px 75px 75px 75px 75px;
}

h1 {
  font-size: 45px;
  color: #df71ee;
}
