@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  font-family: "Amatic SC", cursive;
}

body {
  display: flex;
  height: 100vh;
  transform: translateX(-30%);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background: url("./assets/img/2581465.jpg");
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
}
